.header {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    @media screen and (max-width: 768px) {
        padding-left: 5%;
        padding-right: 5%;
        
    }
}
.header > .logo {
    height: 50px;
    margin: 0 auto;
}
.header > .menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 24px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    a {
        text-decoration: none;
        color: #000;
        align-self: center;
        font-weight: 500;
    }
    @media screen and (max-width: 768px) {
        gap: 1rem;
    }
}