.container-global {
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 100%;
	max-width: 1120px;
	margin: auto;
	text-align: center;
	margin-top: 50px;
	position: relative;

	.modify {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		gap: 30px;

		button {
			border: none;
			background-color: transparent;
			font-size: 1.5rem;
			color: #1d6154;
			cursor: pointer;
		}
	}

	.modal {
		position: absolute;
		display:none;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		background-color: rgba(0,0,0,0.2);
		button{
			position: absolute;
			top: 10px;
			right:10px;	
			cursor: pointer;
		}
		.content-modal {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 30px;
			justify-content: center;
			width: 80%;
			position: relative;
			top: 30%;
			left: 50%;
			transform: translate(-50%,-50%);
			background-color: white;
			padding: 20px;
			.container-work {
				width: 20%;

				img {

					width: 100%;
					height: auto;
					object-fit: cover;
				}
				div{
					display: flex;
					flex-wrap: wrap;
					gap: 10px;
					justify-content: center;
					i{
					overflow-y: hidden;
				}
				}
				
				
			}
		}
		

	}
	.modal.open{
			display: block;
		}
	
	.container-categories {
		width: 100%;

		ul {
			list-style: none;
			display: flex;
			width: 100%;
			justify-content: center;
			flex-wrap: wrap;
			gap: 30px;
			align-items: center;

			li {
				border: 3px solid #1d6154;
				border-radius: 25px;
				font-size: 1.5rem;
				color: #1d6154;
				font-weight: bold;
			}
		}

		@media screen and (max-width: 468px) {
			ul {
				flex-direction: column;
			}
		}
	}

	.category_button {
		position: relative;
		width: 101%;
		padding: 5px 15px 5px 15px;
		border: none;
		background: none;
		font: inherit;
		box-shadow: none;
		overflow: hidden;
		size: inherit;

	}

	.category_button::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0%;
		height: 0%;
<<<<<<< Updated upstream
		background-color: #1d6154;
=======
		background-color:#1d6154 ;
>>>>>>> Stashed changes
		z-index: -1;
		transition: width 0.4s ease, height 0.4s ease;
		border-radius: 50%;
		/* cercle / forme fluide */

	}

	.category_button:hover::before {
		width: 200%;
		height: 500%;
		border: 1px solid #1d6154;
		border-radius: 25px;    
	}

	.category_button:hover {
		color: #fff;
	}

	.container-works {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;
		width: 100%;
		margin: auto;

		.container-work {
			width: 30%;

			img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}
	}
}