.container-global {
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 100%;
	max-width: 1120px;
	margin: auto;
	text-align: center;
	margin-top: 50px;

	.container-categories {
		width: 100%;

		ul {
			list-style: none;
			display: flex;
			width: 100%;
			justify-content: center;
			flex-wrap: wrap;
			gap: 30px;
			align-items: center;

			li {
				border: 3px solid #1d6154;
				border-radius: 25px;
				font-size: 1.5rem;
				color: #1d6154;
				font-weight: bold;
				transition: color 0.5s, transform 0.2s, background-color 0.2s;
			}
		}
		@media screen and (max-width: 468px) {
			ul {
				flex-direction: column;
			}
		}
	}

	.category_button {
		position: relative;
		width: 100%;
		padding: 5px 15px 5px 15px;
		border: none;
		background: none;
		background-color: transparent;
		font: inherit;
		box-shadow: none;
		overflow: hidden;
		size: inherit;
	}

	.category_button::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 0%;
		height: 0%;
		background-color: #3498db;
		z-index: -1;
		transition: width 0.4s ease, height 0.4s ease;
		transform: translate(-50%, -50%);
		border-radius: 50%; /* cercle / forme fluide */
	}

	.category_button:hover::before {
		width: 200%;
		height: 500%;
	}

	.category_button:hover {
		color: #fff;
	}

	.container-works {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;
		width: 100%;
		margin: auto;

		.container-work {
			width: 30%;
			img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}
	}
}
