.container-global {
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 100%;
	max-width: 1120px;
	margin: auto;
	text-align: center;
	margin-top: 50px;
	position: relative;

	.modify {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		gap: 30px;

		.editing {
			border: none;
			background-color: transparent;
			font-size: 1.3rem;
			color: #1d6154;
			cursor: pointer;
			overflow-y: none;

		}
	}




	.container-categories {
		width: 100%;

		ul {
			list-style: none;
			display: flex;
			width: 100%;
			justify-content: center;
			flex-wrap: wrap;
			gap: 30px;
			align-items: center;

			li {
				border: 3px solid #1d6154;
				border-radius: 25px;
				font-size: 1.5rem;
				color: #1d6154;
				font-weight: bold;
			}
		}

		@media screen and (max-width: 468px) {
			ul {
				flex-direction: column;
			}
		}
	}

	.category_button {
		position: relative;
		width: 101%;
		padding: 5px 15px 5px 15px;
		border: none;
		background: none;
		font: inherit;
		box-shadow: none;
		overflow: hidden;
		size: inherit;

	}

	.category_button::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0%;
		height: 0%;
		background-color: #1d6154;
		z-index: -1;
		transition: width 0.4s ease, height 0.4s ease;
		border-radius: 50%;
		/* cercle / forme fluide */

	}

	.category_button:hover::before {
		width: 200%;
		height: 500%;
		border: 1px solid #1d6154;
		border-radius: 25px;
	}

	.category_button:hover {
		color: #fff;
	}

	.container-works {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;
		width: 100%;
		margin: auto;

		.container-work {
			width: 30%;

			img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}
	}
}


.modal {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);

	.btn-closed {
		position: absolute;
		top: 20px;
		right: 20px;
		padding: 5px;
		cursor: pointer;
		outline: none;
		border-radius: 25px;
		border: none;
		background-color: transparent;
		font-size: 2rem;
	}

	.content-modal {
		text-align: center;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: center;
		width: 40%;
		position: relative;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 60px;
		border-radius: 25px;
		h2{
			font-size: 2.5rem;
			margin-bottom:10px ;
		}
		.div-work {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			gap: 30px;

			.container-work {
				width: 20%;
				border-radius: 25px;

				div {
					position: relative;
					display: flex;
					flex-wrap: wrap;
					gap: 10px;
					justify-content: center;

					i {
						position: absolute;
						overflow-y: hidden;
						top: 10px;
						right: 10px;
					}

					img {

						width: 100%;
						height: auto;
						object-fit: cover;
					}

				}


			}
		}

		.adding-element {
			width: 50%;
			padding: 5px;
			font-size: 1.2rem;
			font-weight: bold;
			color: white;
			background-color: #1d6154;
			border: none;
			border-radius: 25px;
			cursor: pointer;
			margin: auto;
		}

	}


}

.modal.open {
	display: block;
}